body {
    background-color: #0d1117; /* GitHub Dark mode color */
    color: #c9d1d9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search-wrapper {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 3.5rem;
    color: #ffffff;
    margin-bottom: 0;
}

p {
    color: #8b949e;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 10px;
    padding: 10px;
}

input {
    flex-grow: 1;
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
}

button {
    background: #238636;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.server-status {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #8b949e;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #3fb950;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
